.dashboardSectionNotifications {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid rgb(187, 192, 196);
  padding: 1rem;
  background-color: #e8f2ea;
  margin: 0rem 0rem 2rem 0rem;
  width: 460px;
}

.subHeadersNotice {
  color: var(--primaryBlue);
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(187, 192, 196);
}

.noticeSection {
  margin: 0rem 0rem 1rem 0rem;
}

.payDate {
  font-size: 18px;
  font-weight: 600;
  padding: 0.5rem;
  color: var(--white);
  background-color: rgb(74, 87, 89);
  text-align: center;
}

.paidMessage {
  font-weight: 500;
  padding: 0.5rem;
  background-color: #b5e6e1;
  border-bottom: 1px solid rgb(187, 192, 196);
}

.paidDates {
  list-style-type: none;
  padding: 0rem;
  background-color: #b5e6e1;
}

.paidDate {
  border-bottom: 1px solid rgb(187, 192, 196);
  padding: 0.5rem;
}

.noPayNotice {
  font-size: 20px;
  margin: 0;
  padding-top: 1rem;
}

.paymentConfirm {
  color: var(--black);
  font-weight: 600;
  text-align: center;
  background-color: var(--secondaryTurquoise);
  padding: 0.5rem;
  margin: 0;
}

.confirmPay {
  padding: 0.2rem;
  margin-top: .5rem;
  width: 100%;
}

@media (max-width: 1227px) {
  .subHeadersNotice,
  .payDate {
    width: 100%;
  }
  .dashboardSectionNotifications {
    border-top: none;
    width: 100%;
  }
}
