.dashboardSection {
    display: flex;
    flex-direction: column;
    text-align: left;
     border: 1px solid rgb(187, 192, 196);
     padding: 1rem;
     background-color: #e8f2ea;
     margin: 0rem 1rem 2rem 1rem;
  }

  .subHeaders {
    color:  var(--primaryBlue);
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 1rem;
    width: 460px;
    border-bottom: 1px solid rgb(187, 192, 196);
  }

  .memberDrops {
    display: flex;
    flex-direction: column;
   
    margin: 0rem 0rem 1rem 0rem;
    border: 1px solid rgb(187, 192, 196);
    width: 460px;
  }

  .unpaidSection {
  
    padding-top: .5rem;
    list-style-type: none;
    /*background-color: var( --secondaryTurquoise);*/
  }

  .teamMemberName {
    font-size: 22px;
    font-weight: 600;
  }

 .memberCurrentDrop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .memberCurrentDrop {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .memberDrop {
    color: rgb(36, 37, 38);
    background-color:#b5e6e1;
    border: 2px solid transparent;
    font-size: 20px;
    padding: .5rem;
    margin: .5rem;
    width: 250px;
    
    box-shadow: -5px 5px 0px 1px transparent;
    transition: border-color 0.25s;
    transition: box-shadow 0.25s;
  }
  
  .memberDrop:hover {
    border: 2px solid rgb(36, 37, 38);
    box-shadow: -5px 5px 0px 1px rgb(36, 37, 38);
    background-color: var(--white);
  }

  .totals {
    font-size: 18px;
    }

    .paymentNotice {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem 0rem 1rem 0rem;;
      }

      .paymentMethod {
        font-size: 16px;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid rgb(187, 192, 196);
        width: 90%;
      }

      .paymentNoticeButton {
        color: rgb(36, 37, 38);
        width: 90%;
      }

      .noServicesMessage {
        /*background-color: #b5e6e1;*/
        /*border: 1px solid rgb(187, 192, 196);*/
        /*margin-bottom: 1rem;*/
        padding-top: 1rem;
        font-size: 20px;
      }

      .noServicesMessage {
        font-weight: normal;
      }

      @media (max-width: 768px) {
        .subHeaders, .noServicesMessage, .memberDrops {
          width: 100%
        }
        .dashboardSection {
          width: 90%;
        }
        .memberDrop {
          width: 90%;
        }
      }