.dashboardSection {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid rgb(187, 192, 196);
  padding: 1rem;
  background-color: #e8f2ea;
  margin: 0rem 0rem 2rem 0rem;
  width: 460px;
  border-right: none;
}

.subHeaders {
  color: var(--primaryBlue);
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: 1px solid rgb(187, 192, 196);
}

.memberDrops {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  margin: 0rem 0rem 1rem 0rem;
}

.currentDrop {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.memberDrop {
  color: rgb(36, 37, 38);
  background-color: #b5e6e1;
  border: 2px solid transparent;
  font-size: 18px;
  padding: 0.2rem;
  margin: 0.5rem;
  width: 250px;
  align-self: flex-start;
  text-align: center;

  transition: border-color 0.25s;
}

.memberDrop:hover {
  border: 2px solid var(--black);
}

.deleteDrop {
  font-size: 18px;
  width: 40px;
  height: 40px;
  padding: 0rem;
}

.totals {
  padding-left: 1.5rem;
  font-size: 18px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(64, 224, 208, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modalContent {
  text-align: center;
  background-color: #e8f2ea;
  padding: 2rem;
  width: 460px;
}

.message {
  font-size: 20px;
  padding-bottom: 2rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 0rem 4rem 0rem 4rem;
}

.modalButton {
  width: 100px;
}

#no {
  background-color: #e8f2ea;
  box-shadow: none;
  border: 1px solid var(--black);
}
#no:hover {
  background-color: var(--white);
  border: 1px solid var(--black);
  box-shadow: none;
}
#yes {
  border: none;
  box-shadow: none;
  color: var(--white);
  background-color: rgb(74, 87, 89);
}

.paymentNotice {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.paymentMethod {
  font-size: 16px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(187, 192, 196);
  width: 100%;
}

.paymentNoticeButton {
  color: rgb(36, 37, 38);
  padding: 0.2rem;
  width: 90%;
  border: 2px solid rgb(187, 192, 196);
  width: 100%;
}

@media (max-width: 1227px) {
  .dashboardSection {
    width: 100%;
    margin-bottom: 0rem;
    border-bottom: none;
  }
  .memberDrops,
  .modalContent {
    width: 100%;
  }
  .modalContent {
    padding: 2rem 0rem 2rem 0rem;
  }
}
