.header {
    margin-bottom: 1rem;
  }

.drops {
    list-style-type: none;
}

.link {
  border: 1px solid transparent;
  margin: 1rem;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  border-left: 2px solid rgb(187, 192, 196);
  border-bottom: 2px solid rgb(187, 192, 196);
  border-right:  2px solid transparent;
  border-top:  2px solid transparent;
  cursor: pointer;
  box-shadow: -5px 5px 0px 1px transparent;
  transition: border-color 0.25s;
  transition: box-shadow 0.25s;
  width: 300px;
  }
  .link:hover {
    border: 2px solid rgb(36, 37, 38);
    box-shadow: -5px 5px 0px 1px rgb(36, 37, 38);
  }

  .date {
    color: rgb(36, 37, 38);
  }