.dropForm {
    display: flex;
    flex-direction: column;
   align-items: center;
  }

.dropFormInput {
    margin: .5rem;
    padding: .5rem;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    width: 480px;
  }

  .labelName {
    font-size: 20px;
    font-weight: bold;
  }

  .totalsSection {
    margin-bottom: 4rem;
  }

  .totalServices, .dropTotal, .percentageTotals, .cutTotals {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @media (max-width: 586px) {
   .dropForm, .dropFormInput {
        width: 100%;
      }
    .dropForm {
        width: 90%
      }
      .totalServices, .dropTotal, .percentageTotals, .cutTotals {
        flex-direction: column;
        justify-content: center;
      }
  }