.totalServices,
.dropTotal,
.percentageTotals,
.cutTotals {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 586px) {
  .dropForm,
  .dropFormInput {
    width: 100%;
  }
  .dropForm {
    width: 90%;
  }
  .totalServices,
  .dropTotal,
  .percentageTotals,
  .cutTotals {
    flex-direction: column;
    justify-content: center;
  }
}
