.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.header {
  color: var(--accentGold);
  font-size: 70px;
  font-weight: bold;
  line-height: 30px;
  z-index: 11;
  -webkit-text-stroke: 2px black;
  text-shadow: -5px 5px 0px black;
}

.subHeader {
  background-color: var(--secondaryTurquoise);
  color: var(--black);
  font-weight: 600;
  font-size: 24px;
  padding: 2rem;
  width: 100vw;
}

.loginStatement {
  color: var(--black);
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

.loginButton {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .hero,
  .subHeader {
    margin-top: 0rem;
    width: 100%;
  }
  .header {
    font-size: 50px;
    line-height: 55px;
    z-index: 11;
  }

  .subHeader {
    font-size: 16px;
    padding-bottom: 2rem;
  }
}
