.pageSetup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem 1rem 0rem 1rem;
  }

  #footer, #navbar {
    color: white;
    background-color: black;
    width: 100vw;
  }

  .serviceForm {
    display: flex;
    flex-direction: column;
   align-items: center;
  }

  .labelName {
    font-size: 20px;
    font-weight: bold;
  }

  .serviceFormInput {
    margin: .5rem;
    padding: .5rem;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    width: 480px;
  }

  .serviceFormSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #cashInput, #creditInput, #depositInput, #giftcertInput {
    width: 480px;
  }

  #addService:hover {
    color: white;
    background-color: black;
    cursor: pointer;
  }

  /*#submitDrop {
    color: white;
    background-color: black;
    margin: 1rem;
    width: 600px;
    cursor: pointer;
  }*/

  @media (max-width: 586px) {
    .pageSetup, #footer, #navbar, .serviceFormInput, #cashInput, #creditInput, #depositInput, #giftcertInput, .serviceForm, .serviceFormSection {
      width: 100%;
    }

  }