.pageSetup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem 0rem 2rem 0rem;
}

@media (max-width: 768px) {
  .pageSetup {
    width: 100%;
  }
}
