* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;
}

:root {
  font-family: "Cantata One", serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh; /* Full viewport height */
}

main {
  flex: auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h1,
h2,
h3,
p {
  margin: 0.5rem;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  border-left: 2px solid rgb(187, 192, 196);
  border-bottom: 2px solid rgb(187, 192, 196);
  border-right:  2px solid transparent;
  border-top:  2px solid transparent;
  cursor: pointer;
  box-shadow: -5px 5px 0px 1px transparent;
  transition: border-color 0.25s;
  transition: box-shadow 0.25s;
  width: 300px;
}
button:hover {
  border: 2px solid rgb(36, 37, 38);
  box-shadow: -5px 5px 0px 1px rgb(36, 37, 38);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
