* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;
}

:root {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;

   /* color treatment two */
   --primaryBlue: #0047ab;
   --secondaryTurquoise: #40e0d0;
   --accentGold: #ffd700;
   --black: #333333;
   --white: #fafafa;

   background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh; /* Full viewport height */
}

main {
  flex: auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

button {
  padding: .5rem;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--white);
  border-left: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  border-right:  2px solid transparent;
  border-top:  2px solid transparent;
  cursor: pointer;
  box-shadow: -5px 5px 0px 1px transparent;
  transition: border-color 0.25s;
  transition: box-shadow 0.25s;
  width: 300px;
}
button:hover {
  border: 2px solid black;
  box-shadow: -5px 5px 0px 1px black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 768px) {
  .button, .layout {
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #d7f4db;
  }
}
